@import "tailwindcss";
@import "./compiled.css";

@theme {
  /* Font families */
  --font-body: "Roboto", sans-serif;
  --font-heading: "Roboto", sans-serif;

  /* Font sizes */
  --text-smallest: 0.8rem;
  --text-smaller: 1rem;
  --text-small: 1.4rem;
  --text-h6: 1.6rem;
  --text-h5: 2rem;
  --text-h4: 2.5rem;
  --text-h3: 3rem;
  --text-h2: 5rem;
  --text-h1: 6.5rem;

  /* Colors */
  --color-primary: #f8fdf7;
  --color-secondary: #f1fcf0;
  --color-tertiary: #0a6802;
  --color-white: #ffffff;
  --color-transparent: transparent;
  --color-gray: #656969;

  /* Radius */
  --radius-0: 0;
  --radius-2: 0.4rem;
  --radius-4: 0.8rem;
  --radius-full: 100rem;

  /* Spacing */
  --space-0: 0;
  --space-1: 0.4rem;
  --space-2: 0.8rem;
  --space-3: 1.2rem;
  --space-4: 1.6rem;
  --space-5: 2rem;
  --space-6: 2.4rem;
  --space-7: 2.8rem;
  --space-8: 3.2rem;
  --space-9: 3.6rem;
  --space-10: 4rem;
  --space-11: 4.4rem;
  --space-12: 4.8rem;
  --space-13: 5.2rem;
  --space-14: 5.6rem;
  --space-15: 6rem;
  --space-16: 6.4rem;
  --space-17: 6.8rem;
  --space-20: 8rem;
  --space-25: 10rem;
  --space-rem: 1rem;
  --space-unset: unset;

  /* Line-height */
  --leading-base: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  /* Font-weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Breakpoints */
  /* --breakpoint-sm: 769px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1440px;   */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 960px;
  --breakpoint-xmd: 1280px;
  --breakpoint-lg: 1440px;
}
